/* ProductDiscount Component */
.product-discount {
    padding-bottom: 20px;
    text-align: center;
}

.product-discount-title h2 {
    color: #1c1c1c;
    font-weight: 700;
    text-align: left; /* Aligns text to the left */
    font-family: "Cairo", sans-serif;
    border-bottom: 4px solid #7FAD39; /* Adds a green border below */
    padding-bottom: 10px; /* Adds some spacing between the text and the border */
    max-width: 127px;
    margin-bottom: 58px;
}


.product-item-pic {
    position: relative;
    display: flex; /* Enable flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.product-item-pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product-discount-slider {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.product-item {
    background-color: #fff;
    border: 1px solid #efebeb;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: transform 0.3s ease;
}

.product-item:hover {
    border: 2px solid #7FAD39;
}

.product-item-pic {
    background-size: cover;
    background-position: center;
    height: 70%;
    position: relative;
}

.product-item-percent {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #DD2222;
    color: #fff;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.product-item-hover {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, bottom 1s ease;
}

.product-item-hover li {
    display: inline-block;
}

.product-item-hover a {
    color: #000000;
    background-color: #fff; /* Initial background color */
    padding: 7px; /* Increase padding for larger circles */
    border: 1px solid #efebeb;
    border-radius: 50%;
    display: inline-block;
    width: 40px; /* Larger width */
    height: 40px; /* Larger height */
    text-align: center;
    font-size: 18px; /* Larger icon size */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover color and rotation */
}

.product-item-hover a:hover {
    color: white;
    background-color: #7FAD39; /* Green background color on hover */
    transform: rotate(360deg); /* Rotate icon on hover */
}

.product-item:hover .product-item-hover {
    opacity: 1;
    visibility: visible; /* Show icons on hover */
    bottom: 2px; /* Adjust to move icons up when hovering */
}

.product-item-text {
    padding: 15px;
    text-align: center;
}

.product-item-text span {
    display: block;
    font-size: 14px;
    color: #888;

}

.product-item-text h5 {
    margin: 10px 0;
    font-size: 18px;
}

.product-item-price {
    font-size: 16px;
    color: #000000;
    display: flex; /* Use flexbox to align price elements side by side */
    justify-content: center;
    align-items: center; /* Center align items vertically */
    gap: 10px; /* Space between price and original price */
}

.product-item-price .current-price {
    font-weight: bold;
    font-size: 17px;
    color: red;
}

.product-item-price .original-price {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #111111;
}

.product-item-price .original-price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #888;
    transform: translateY(-50%);
}

.empty-cart-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* if you want vertical stacking of elements */
    margin-top: 80px;
    margin-bottom: 80px;
}

.empty-cart-message h2 {
    margin-bottom: 40px;
    font-size: 48px; /* Larger font for better emphasis */
    font-weight: 700; /* Bold for strong visual impact */
    font-family: 'Poppins', sans-serif; /* Modern and clean font */
    color: #000000; /* Bright color like Tomato */
    text-transform: uppercase; /* Uppercase text for importance */
    letter-spacing: 3px; /* Adds spacing between letters for style */
    text-align: center; /* Center the text */
    background: linear-gradient(90deg, #000000, #000000); /* Gradient background */
    -webkit-background-clip: text; /* Clip background to text */
    color: transparent; /* Make the gradient visible on text only */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Add a soft shadow for depth */
    padding: 20px 0; /* Padding around the text */
}


.plain-link {
    color: inherit; /* Use the inherited color */
    text-decoration: none; /* Remove underline */
    /*cursor: default; !* Change cursor to default *!*/
}

.plain-link:hover,
.plain-link:focus,
.plain-link:active {
    color: inherit; /* Keep the same color on hover, focus, and active */
    outline: none; /* Remove focus outline if needed */
}

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
}

.price-input__currency {
    font-weight: bold;
    color: #000;
}


.cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}

.cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-dropdown li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-dropdown .subtotal {
    padding: 10px;
    border-top: 1px solid #ccc;
}


.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.icon_close:hover{
    color: red;
}



.primary-btn-cart-view {
    display: inline-block;
    font-size: 16px;
    padding: 8px 8px;
    color: #ffffff;
    margin-bottom: 8px;
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: background 0.6s ease, transform 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.primary-btn-cart-view:hover {
    background: #a2da4c;
}

.primary-btn-cart-clear {
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    color: #ffffff;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    background: #e50000;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: background 0.6s ease, transform 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.primary-btn-cart-clear:hover {
    background: #f85c5c;
}

.cart-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.subtotal h5{
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.delivery-icons {
    display: flex;
    justify-content: space-around; /* Space the icons evenly */
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.type_item {
    cursor: pointer; /* Change cursor to indicate clickability */
    text-align: center; /* Center text below icons */
}

.type_item img {
    width: 50px; /* Set your preferred size */
    height: auto;
}

.type_item.checked {
    border: 2px solid blue;
    border-radius: 8px;
}


.scrollable-list {
    max-height: 150px;
    overflow-y: auto;
    background-color: #f0f3f5;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding: 0;
}

.scrollable-list li{
    margin-left: 19px;
    transition: color 0.3s ease;
}


.scrollable-list li:hover{
    color: #7fad39;
    cursor: pointer;
}

.input-econt {
    font-size: 14px !important;
}

.quantity {
    display: flex;  /* Use flexbox to align items */
    align-items: center;  /* Center align items vertically */
    margin-left: 100px;
    /*border: 1px solid #ccc; !* Add a border around the entire quantity container *!*/
    border-radius: 4px; /* Add slight rounding to the corners */
    overflow: hidden; /* Ensure no overflow */
}

.quantity-btn {
    background-color: #E9F1EB;
    color: #00bb00;
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.quantity-btn:hover {
    color: #23d923;
}



.quantity-input {
    width: 50px;
    text-align: center;
    background-color: #E9F1EB;
    border: none;
    padding: 0.5rem;
    margin: 0;
    outline: none;
}

.quantity-input:focus {
    outline: none;
}


.not-found-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('.//images/products/404.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}



.not-found-container {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 320px !important;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1;
    position: relative;
    left: 200px;
}


.go-home-button {
    margin-left: 0;
}


.not-found-container h1 {
    font-size: 5rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: #1c1b1a;
    margin-top: 0;
}

.error404 {
    font-size: 10rem !important;
    color: #762828;
    font-weight: bold;
}

.not-found-container p {
    font-size: 1.5rem;
    color: #1c1b1a;
    font-weight: 600;
    margin: 0;
}

.go-home-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ea831b;
    background-color: #13180e;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-home-button:hover {
    background-color: #3d3b3b;
}


@media (max-width: 1200px) {
    .error404 {
        font-size: 8rem;
    }

    .not-found-container h1 {
        font-size: 3.5rem;
    }

    .not-found-container p {
        font-size: 1.3rem;
    }

    .go-home-button {
        font-size: 1.3rem;
        padding: 8px 15px;
    }
}




@media (max-width: 1024px) {
    .not-found-container {
        width: 380px;
        padding-bottom: 320px !important;
        left: 0;
        right: 50px;
    }

    .error404 {
        font-size: 8rem !important;
    }

    .not-found-container h1 {
        font-size: 2.5rem;
    }

    .not-found-container p {
        font-size: 1.2rem;
    }

    .go-home-button {
        font-size: 1.2rem;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../assets/404.jpg) no-repeat center center;
        background-size: cover;
        z-index: -1;
    }

    .not-found-container {
        width: 320px;
        padding-bottom: 460px !important;
        margin: 0 auto;
        right: 0;
    }

    .error404 {
        font-size: 4rem;
    }

    .not-found-container h1 {
        margin-bottom: 0px;
        font-size: 2rem;
    }

    .not-found-container p {
        font-size: 1rem;
    }

    .go-home-button {
        font-size: 1rem;
        padding: 8px 10px;
    }
}


.product__details__tab .reviews-button {
    text-align: center;
    margin: 20px 0;
}

.product__details__tab ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.product__details__tab ul li {
    margin-bottom: 15px;
}


.review-username {
    color: #000000;
    font-weight: 600;
    font-size: 17px;
    margin-right: 10px;
}


.review-rating .filled {
    color: orange;
}


.review-rating .empty {
    color: #ccc;
}

.review-toggle {
    margin-left: 20px;
    cursor: pointer;
    color: #333333;
    font-weight: bold;
    margin-bottom: 1px;
    transition: color 0.3s ease;
}

.review-toggle:hover {
    color: #7fad39;
}


.read-more-button {
    color: #7fad39;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding-top: 0;
    background: none;
    transition: color 0.3s ease;
}


.read-more-button:hover {
    color: #87c42b;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
}


.add-review-container {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.add-review-title {
    margin: 0;
    font-weight: bold;
    display: inline-block;
}

.add-review-form {
    margin-top: 15px;
    border-radius: 10px;
}

.add-review-form textarea {
    border-radius: 4px;
    padding-left: 5px;
    border-width: 2px;
    border-color: #7fad39;
    padding-top: 5px;
    width: 600px;
}

.submit-review {
    color: #ffffff;
    font-weight: bold;
    background-color: #7fad39;
    border-radius: 10px;
    transition: background-color ease 0.3s;
}

.submit-review:hover {
    background-color: #8dd028;
}


.star-rating span {
    font-size: 32px !important;
    cursor: pointer;
    color: #e4e5e9;
}

.star-rating span:hover,
.star-rating span:hover ~ span {
    color: #ffc107;
}

.rating-label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
    color: #0c0000;
    margin-bottom: 0 !important;
}

.review-rating {
    font-size: 20px;
}

.review-title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}


.add-review-title {

}

.add-review-title:hover {
    color: #7fad39;
}

.review-comment {
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 5px;
}

.delete-review-button {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0;
    margin-left: 10px;
    padding: 0 5px;
    transition: ease background-color 0.3s;
}

.delete-review-button:hover {
    background-color: #b61515;
}

.edit-review-button {
    background-color: #57b81f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0;
    margin-left: 10px;
    padding: 0 5px;
    transition: ease background-color 0.3s;
}

.edit-review-button:hover {
    background-color: #61f10d;
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background: url('/storage/images/bg4.jpg') no-repeat center center/cover;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 800px;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.thank-you-container h1,
.thank-you-container p
{
    color: #1b160f;
}

.thank-you-container h1 {
    font-size: 3.5em;
    color: #0c8394;
    font-family: Broadway;
    font-weight: bold;
    margin-bottom: 20px;
}

.thank-you-container p {
    font-size: 1.9em;
    font-family: Broadway;
    margin-bottom: 10px;
}

.btn-home {
    display: block;
    width: 170px;
    margin-top: 30px;
    font-size: 25px;
    padding: 10px 10px;
    font-family: "Droid Sans";
    color: white;
    background-color: #FFA24A;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color ease 0.3s;
}


.btn-home:hover {
    background-color: #dd921e;
}

.body {
    background-color: #0c8394 !important;
}


.zoom-in {
    opacity: 0;
    transform: scale(0.8);
    animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    background: rgba(200, 43, 43, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    transition: background 0.3s;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(200, 43, 43, 0.8);
}


.product__item__pic img {
    transition: transform 0.3s ease;
}

.product__item__pic:hover img {
    transform: scale(1.04);
}


.product-item img {
    transition: transform 0.3s ease;
}

.product-item:hover img {
    transform: scale(1.08);
}

.featured__item img {
    transition: transform 0.3s ease;
}

.featured__item:hover img {
    transform: scale(1.04);
}


@media (max-width: 767px) {
    .top-rated-products,
    .review-products {
        display: none;
    }
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .header__top__right__auth a  {
        color: white;
    }
    .header__top__right__auth {
        margin-right: 50px;
        font-weight: bold;
        color: white;
        background-color: #7fad39;
        border-radius: 5px;
        padding: 7px;
    }
    .review-products {
        display: none;
    }
    .header__menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .header__menu.open {
        display: flex;
    }
    .humberger__open {
        display: block;
        cursor: pointer;
        background-color: #7fad39;
        border: none;
        border-radius: 5px;
        color: white;
    }
}


.hero__categories__all {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.hero__categories__all i {
    margin-right: 10px;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.category-list.open {
    max-height: 465px;
    background-color: white;
    transition: max-height 0.5s ease-in;
}

.category-list li {
    padding: 3px 0;
}

.category-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


@media (max-width: 425px) {
    .sidebar__item {
        display: none;
    }

    .product-discount-title h2 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .product {
        padding-top: 30px;
    }
}




@media (max-width: 320px) {
    .header__menu ul li {
        margin-right: 25px;
    }
}

.featured__controls {
    font-weight: bold;
}

.featured__controls ul li {
    transition: color ease 0.3s;
}

.featured__controls ul li:hover {
    color: #7fad39
}

.categories__item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.categories__item:hover {
    transform: scale(1.05);
}

.categories__item::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.1) 100%
    );
    transform: translate(-100%, -100%) rotate(45deg);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.categories__item:hover::after {
    opacity: 1;
    animation: diagonalFlash 2s ease forwards; /* Increased duration to 2 seconds */
}

.categories__item h5 {
    color: #fff;
    z-index: 2;
    text-transform: uppercase;
    font-size: 18px;
    transition: none;
}

@keyframes diagonalFlash {
    0% {
        transform: translate(-100%, -100%) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: translate(100%, 100%) rotate(45deg);
        opacity: 0;
    }
}













